{% extends "base.html" %}
{% block head %}
    <meta name="description" content="{{ local.headline.format(author=author) }}">
    <title>{{ local.headline.format(author=author) }}</title>
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{{language["feed_page"]}}">
    {% for lang in active_languages %}
    {% if lang != language_code %}
    <link rel="alternate" hreflang="{{lang}}" href="{{ languages[lang].index }}" />
    {% endif %}
    {% endfor %}

    {% if default_language == language_code %}
    <link rel="canonical" href="https://kuterdinel.com" />
    {% endif %}

{% endblock %}

{% block center %}
        <img id="profile-picture" alt="Profile picture" width="200px" height="200px" src="profile.jpg"/>
        <div id="entry-tree">
        <ul>
            {% if active_languages.length != 0 %}
            <li> {{local.other_languages}} </li>
            <dd>
            {% for lang in active_languages %}
                {% if lang == language_code %}
                <strong> {{ languages[lang].name }} </strong>
                {% else %}
                <a href="{{ languages[lang].index }}" class="highlight">{{ languages[lang].name}}</a>
                {% endif %}
                {{ " / " if not loop.last else "" }}
            {% endfor %}
            </dd>
            {% endif %}
            <li> {{ local.personal_information }}</br>
                <ul class="info-list">
                <li><strong>Github:</strong><a href="https://github.com/kuterd">    kuterd</a></li>
                <li><strong>Linkedin:</strong><a href="https://www.linkedin.com/in/kuter-dinel-1987b81b1/">    linkedin</a></li>
                <li><strong>Twitter:</strong><a href="https://twitter.com/kuterdinel">    @KuterDinel</a></li>
                <li><strong>Email:</strong><a>    kuterdinel [at] gmail.com</a></li>
                </ul>
            </li>
            <li class="info-list"><strong>RSS:</strong><a href="{{language["feed_page"]}}">{{local.rss_feed}}</a>
            {% if language_code == 'en' %}
                <li>About me<br>
                <ul class="no-bullet">
                    <li>
                    I was a SWE intern at Google in 2022, before that I participated in <a href="https://summerofcode.withgoogle.com/" title="Google Summer of Code">GSoC</a> with the <a href="https://llvm.org/">LLVM</a> Foundation in 2021 & 2020.
                    <br><br>Some of my interests include; <i>compilers</i>, <i>deep learning</i> and <i>web security</i>.
                    </li>
                </ul>
            {% elif language_code == 'tr'  %}
                <li>Hakkımda <br>
                <ul class="no-bullet">
                    <li>
                    2022'de Google'da staj yaptım, daha öncesinde <a href="https://llvm.org/">LLVM</a> Vakfı ile 2021 ve 2020 yıllarında <a href="https://summerofcode.withgoogle.com/" title="Google Summer of Code">GSoC</a>'a katılmıştım.
                    <br><br>Bazı ilgi alanlarım arasında; <i>derleyiciler</i>, <i>derin öğrenme</i> ve <i>web güvenliği</i> bulunmaktadır.
                    </li>
                </ul>
            {% endif %}
            
            <li>{{ local.blog_entries }}</li>
            <ul>
                {% for item in entries if not item.is_hidden %}
                <li><strong>{{item.date}}</strong> - <a href="{{item.url}}">{{item.title}}</a>
                {% if item.all_languages | length > 1 %}
                (
                {% for lang_entry in item.all_languages %}
                    {% if lang_entry.language == item.language %}
                    <strong>{{item.language}}</strong>
                    {% else %}
                    <a href="{{lang_entry.url}}">{{lang_entry.language}}</a>
                    {% endif %}
                    {{ " / " if not loop.last else "" }}
                {% endfor %}
                )<br>
                {% endif %}
                {% if item.description %}
                    <ul class="no-bullet">
                        <li>{{item.description}}</li>
                    </ul>
                {% endif %} 
                {% endfor %}
                 </li>
            </ul>
         </ul>
        </div>
{% endblock %}
